@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800&family=Libre+Barcode+128+Text&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.nav {
  background-color: rgba(0, 128, 0, 0);
  width: 100vw;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 2rem;
}
.nav ul {
  padding: 8px;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.nav li.active {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 0 5px 0 5px;
}
.nav li:hover {
  background-color: rgba(240, 254, 133, 0.588);
}
