.App {
  text-align: center;
}

.App-icon {
  height: 70vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-icon {
    animation: App-icon-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #360008;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link-github {
  color: #61dafb;
} */
.App-githubIcon{
  filter: invert(1);
  height: 50px;
}
@keyframes App-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
